################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ContactList/.vs/ContactList
/ContactList/bin
/ContactList/obj/Debug
/ContactList/ContactList.csproj.user
